.en-range-slider {
  width: 100%;
  padding-top: 10px;
  height: 80px;
  &__container {
    position: relative;
    background-color: var(--en-range-slider-color-bg);
    color: var(--en-range-slider-color-txt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 10px;
    .en-range-slider__min,
    .en-range-slider__amount,
    .en-range-slider__max {
      display: flex;
      flex-direction: row;
      font-size: 1.3rem;
      justify-content: center;
      color: var(--en-range-slider-color-txt);
      font-weight: 700;
      line-height: 1;
      &.currency-right {
        flex-direction: row-reverse;
      }
    }
    .en-range-slider__min,
    .en-range-slider__max {
      opacity: 1;
      transition: 0.3s opacity ease-in-out;
    }
    .en-range-slider__range {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      input {
        appearance: none;
        width: 100%;
        background-color: transparent;
        height: 40px;
        border: none;
        margin: 0;
        &::-webkit-slider-thumb {
          appearance: none;
          width: 60px;
          height: 60px;
          border-radius: 60px;
          background-color: var(--en-range-slider-color-thumb);
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
          border: 2px solid var(--en-range-slider-color-txt);
          &:hover {
            background-color: var(--en-range-slider-color-thumb-hover);
          }
          &:active {
            background-color: var(--en-range-slider-color-thumb-active);
          }
        }
      }
    }
    .en-range-slider__amount {
      position: absolute;
      top: 0;
      width: 60px;
      font-size: 1.1rem;
      text-align: center;
      line-height: 40px;
      z-index: 2;
      transform: translateX(-30px);
      user-select: none;
      pointer-events: none;
      white-space: nowrap;
      &--small {
        font-size: 1rem;
      }
    }
  }
  .en-range-slider__min-message,
  .en-range-slider__max-message {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 700;
    color: var(--en-range-slider-color-form-txt);
    padding: 0;
    &.show {
      max-height: 100%;
      padding: 2px 0;
    }
  }
}
.en-range-slider__form {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  &-amount {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    .en-range-slider__currency {
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 1;
      color: #333;
    }
    &.currency-right {
      flex-direction: row-reverse;
    }
    input {
      width: 100%;
      height: 40px;
      border: 1px solid var(--en-range-slider-color-form-txt);
      border-radius: 2px;
      padding: 0 10px;
      font-size: 1.1rem;
      &:focus {
        outline: none;
        border-color: var(--en-range-slider-color-thumb-active);
      }
    }
  }
  &-frequency {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: stretch;
    position: relative;
    width: 100%;
    gap: 15px;
    label {
      width: 100%;
      max-width: 100px;
      height: 40px;
      cursor: pointer;
      span {
        display: block;
        line-height: 38px;
        height: 40px;
        text-align: center;
        white-space: nowrap;
        border: 1px solid var(--en-range-slider-color-form-txt);
        border-radius: 2px;
        color: var(--en-range-slider-color-form-txt);
        font-weight: 700;
        font-size: 0.9rem;
        transition: background-color 0.3s ease-in-out,
          border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked + span {
          background-color: var(--en-range-slider-color-thumb);
          color: var(--en-range-slider-color-txt);
          border-color: var(--en-range-slider-color-thumb);
        }
      }
      &:hover {
        span {
          background-color: var(--en-range-slider-color-thumb);
          color: var(--en-range-slider-color-txt);
          border-color: var(--en-range-slider-color-thumb);
        }
      }
    }
  }
  &-button {
    box-sizing: content-box;
    height: 40px;
    background-color: var(--en-range-slider-color-button);
    color: var(--en-range-slider-color-txt);
    border: 1px solid var(--en-range-slider-color-button);
    border-radius: 2px;
    font-size: 1rem;
    display: block;
    line-height: 38px;
    text-align: center;
    white-space: nowrap;
    padding: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
    &:hover {
      background-color: var(--en-range-slider-color-button-hover);
      color: var(--en-range-slider-color-txt);
      border-color: var(--en-range-slider-color-button-hover);
    }
  }
}
